@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project is built using ASP.NET Core for learning purposes</a></p>
    <p>This is an employees manager web app that helps managers track their employees' vacations.</a></p>

</div>
